
<h3>post</h3>

<div class="btn-group">
  <a href="/posts/{{post.id}}/edit" class="btn btn-primary btn-sm">
    <i class="fas fa-edit"></i>
    Edit post
  </a>
  <a href="/posts/{{post.id}}/delete" class="btn btn-danger btn-sm">
    <i class="fas fa-trash"></i>
    Delete post
  </a>
</div>

<div class="media">
    {{#if post.data.imageUrl}}
    <img class="mr-3" src="{{post.data.imageUrl}}">
    {{else}}
    <img class="mr-3" src="http://placekitten.com/g/128/192">
    {{/if}}
  <div class="media-body">
    <h4 class="mt-0">
      {{post.data.symbol}}
      <small>{{post.data.publishedDate}}</small>
    </h4>
    <h5 >By {{post.data.price}}</h5>
    <p >{{post.data.description}}</p>
  </div>
  <table>

  </table>
</div>


